section{
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.tasksInfo{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;  
}

.tasksInfo span{
  color: var(--blue-400);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  
}
.tasksInfo span strong{
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.3rem;
  border-radius: 8px;
  font-size: 0.75rem;
}

.task{
  margin-top: 1.5rem;
}

.tasksEmpety{
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color:var(--gray-300) ;
  font-size: 1rem;
}

.tasksEmpety img{
  width:3.5rem ;
  height: 3.5rem;
  margin-bottom: 1rem;
}